* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-size: 22px;
  color: #555;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
a {
  text-decoration: none;
  color: #555;
}
.row {
  margin: 0 auto;
  width: 1140px;
}
ul {
  list-style: none;
}

/*----------------------------The heading section----------------------------------------------*/
.head-section {
  height: 70vh;
  background: url('https://www.scdn.co/i/premium/premium-hero-dancing-man.png')
      calc(50% + 425px) bottom/contain no-repeat,
    radial-gradient(ellipse at center, #f6cb6c 0%, #f3c65d 0%, #f2ae54 100%);
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.fa-spotify {
  font-size: 80px;
  color: #fff;
  transition: color 0.5s;
}
.top__content {
  display: flex;
}
.wrapper__logo {
  flex: 60%;
}

.fa-spotify:hover {
  color: #1db954;
}
.wrapper__navbar {
  flex: 40%;
}
.wrapper__main__navbar {
  display: flex;
  align-items: center;
}
.link__nav-link:link,
.link__nav-link:visited {
  color: #fff;
  font-weight: 400;
  transition: color 0.5s;
  letter-spacing: 1px;
}
.link__nav-link:active,
.link__nav-link:hover {
  color: #1db954;
}
.link__nav {
  flex-grow: 1;
  line-height: 3;
}
.fa-user {
  margin-right: 8px;
}
.fa-chevron-down {
  margin-left: 10px;
}
