* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-size: 22px;
  color: #555;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
a {
  text-decoration: none;
  color: #555;
}
.row {
  margin: 0 auto;
  width: 1140px;
}
ul {
  list-style: none;
}

/*----------------------------The heading section----------------------------------------------*/
.head-section {
  height: 70vh;
  background: url('https://www.scdn.co/i/premium/premium-hero-dancing-man.png')
      calc(50% + 425px) bottom/contain no-repeat,
    radial-gradient(ellipse at center, #f6cb6c 0%, #f3c65d 0%, #f2ae54 100%);
  background-attachment: fixed;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.fa-spotify {
  font-size: 80px;
  color: #fff;
  transition: color 0.5s;
}
.top__content {
  display: flex;
  flex: 35%;
}
.wrapper__logo {
  flex: 60%;
}

.fa-spotify:hover {
  color: #1db954;
}
.wrapper__navbar {
  flex: 40%;
}
.wrapper__main__navbar {
  display: flex;
  align-items: center;
}
.link__nav-link:link,
.link__nav-link:visited {
  color: #fff;
  font-weight: 400;
  transition: color 0.5s;
  letter-spacing: 1px;
}
.link__nav-link:active,
.link__nav-link:hover {
  color: #1db954;
}
.link__nav {
  flex-grow: 1;
  line-height: 3;
}
.fa-user {
  margin-right: 8px;
}
.fa-chevron-down {
  margin-left: 10px;
}
/*--Hero-img-text--*/
.hero-img-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70%;
  flex: 35%;
  color: #fff;
  font-weight: 100;
}
.condition__link__box {
  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 50%;
}
.condition__link {
  color: #fff;
  text-decoration: underline;
}

/*----------------------------The Music Details section----------------------------------------------*/
.music__content__section {
  margin-top: 50px;
}
.music__content__section__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.web__player__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.web__player__box__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.web__player__box__text h1 {
  margin-bottom: 20px;
}
.web__player__box__text p {
  font-size: 0.8rem;
  font-weight: 800;
  color: #555;
}
.web__player__link__btn {
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 30px;
  font-size: 0.8rem;
  letter-spacing: 3px;
  border: 2px solid #f3c05b;
  border-radius: 50px;
  width: 350px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #f3c05b;
  color: #fff;
  transition: border 0.5s, background 0.5s;
}
.web__player__link__btn:hover,
.web__player__link__btn:active {
  background: #ff9f43;
  border: 2px solid #ff9f43;
}

/*----------------------------The Music Links Section----------------------------------------------*/
.music__links__section {
  margin-top: 100px;
}
.music__links__section--wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.music__links__row {
  display: flex;
  justify-content: center;
}
.music__links__row:nth-of-type(2) {
  margin-top: 20px;
}

.music__links__image {
  width: 374px;
  height: 374px;
  flex: 0 1 auto;
  opacity: 1;
  transition: opacity 0.5s;
  position: relative;
}
.music__links__image:hover {
  opacity: 1;
}
.music__links__image:nth-of-type(2) {
  margin-left: 20px;
}
.music__links__image:last-of-type {
  margin-left: 20px;
}
.song__image {
  width: 100%;
  height: 100%;
}
.music__links__image:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0;
  z-index: 0;
  transition: all 0.5s;
}
.music__links__image:hover:before {
  opacity: 0.6;
}

/*----------------------------The Footer section----------------------------------------------*/

.main-footer {
  margin-top: 180px;
  color: #fff;
  font-size: 90%;
}
.footer__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  background: rgba(0, 0, 0);
  height: 70vh;
  flex-direction: column;
}
.upper__footer {
  display: flex;
  width: 100%;
  margin-top: 60px;
}
.footer__column {
  flex: 1 1 0;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}
.column--1 {
  color: #555555;
}
.column--3 .links__header {
  margin-top: 65px;
}

/* The footer links*/
.links {
  display: flex;
  flex-direction: column;
  color: #555;
  font-weight: 400;
}
.links__link {
  margin-top: 15px;
  font-weight: 100;
  font-size: 0.9em;
}
.links__link a:link,
.links__link a:visited {
  color: #fff;
  transition: color 0.5s;
}
.links__link a:hover,
.links__link a:active {
  color: #117d38;
}
/* The social links*/
.social__links {
  display: flex;
}
.social__link {
  font-size: 1.5rem;
  margin-left: 10px;
  transition: color 0.5s;
}
.facebook:link,
.facebook:visited {
  columns: #555555;
}
.facebook:hover,
.facebook:active {
  color: #3b5998;
  cursor: pointer;
}

.twitter:link,
.twitter:visited {
  columns: #555555;
}
.twitter:hover,
.twitter:active {
  color: #55acee;
  cursor: pointer;
}

.github:link,
.github:visited {
  columns: #555555;
}
.github:hover,
.github:active {
  color: #ea4c89;
  cursor: pointer;
}
